body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white; /* Color del texto */
    text-align: center; /* Centrar texto */
    padding: 10px 0; /* Espaciado interno */
}

.headerlogo {
    max-width: 25%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen esté en su propia línea */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

h1{
    font-size: 50px; /* Tamaño de la fuente */
    font-family: "Poppins",sans-serif;
    color: #900C3F; /* Color del texto */
    text-align: left; /* Alinear el texto al centro */
    font-weight: 500; /* Hacer el texto en negrita */
    margin: 20px 50px; /* Espaciado superior e inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra del texto */
}

.pagename {
    text-align: center;
}

.catalog_cont {
    display: grid; /* Activa Grid */
    grid-template-columns: repeat(3, 2fr); /* Crea 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px; /* Espaciado alrededor del contenedor */
}

.image {
    width: 100%; /* Las imágenes ocuparán el 100% del ancho de la celda */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra (opcional) */
}